<!DOCTYPE html>
<html>
	<body>
        	{% with messages  = get_flashed_messages() %}
		{% if messages %}
			<ul>
				<li>{{messages[0]}}</li>
                	</ul>
            	{% endif %}
        	{% endwith %}

        	<h1>Welcome{{name}}!</h1>

		<ahref="www.google.com">notgoogle</a>

		<ul>
        		{% for city in city_names %}
                		<li>{{city}}</li>
        		{% endfor %}
		</ul>

        	{% block content %}
			<h2>City Name</h2>
			<formaction=""method="POST">
				{{form.hidden_tag()}}
				<p>
					{{form.city_name.label}}<br/>
					{{form.city_name(size=32)}}
				</p>
				<p>{{form.Submit()}}</p>
			</form>
		{% endblock %}	
	</body>
</html>
