<!DOCTYPE html>
<html>
	<body>
        	{% with messages  = get_flashed_message() %}
		{% if messages %}
			<ul>
				<li>{{message[0]}}</li>
                	</ul>
            	{% endif %}
        	{% endwith %}

        	<h1>Welcome{{name}}!</h1>

		<ahref="www.google.com">notgoogle</a>

		<ul>
        		{% for city in city_names %}
                		<li>{{city}}</li>
        		{% endfor %}
		</ul>

        	<form action="" method="POST">
		{{form.hidden_tag()}}
		<p>{{form.city()}}</p>
		<p>{{form.submit()}}</p>
		</form>
	</body>
</html>
